.App {
  width: 700px;
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.todo-table {
  margin: auto;
  text-align: center;

  border: 1px solid DeepSkyBlue;
  box-shadow: 3px 10px #888888;

  width: 50%;
}

th, td {
  padding-right: 20px;
}
/* Uses a local font */
@font-face {
  font-family: "CallingHeart";
  src:
  local("Calling Hearts"),
  url("calling_heart.ttf");
}

h1 {
  font-family: "CallingHeart";
  font-size: 70px;
}

button {
  border: 0px;
  background-color: #ffffff;
  color: black;
  font-size: 16px;
}

button:hover {
  color: DeepSkyBlue;
}

input {
  background-color: WhiteSmoke;
  border: 0px;
  color: black;
  font-size: 16px;
}
